#Folders
**/.gradle/**
**/build/**

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
*.iml
*.ipr
*.iws
/java_selenium/selenium_examples/.gradle/
/java_selenium_example/.gradle/
/java_selenium/test_case/.gradle/
/java_selenium/test_case/build/
/cucumber-simple/.gradle/
/cucumber-simple/build/
/java_cucumber/cucumber-simple/.gradle/
/java_selenium/e2e-selenium/.gradle/
/java_selenium/e2e-selenium/build/
